---
import { createDb } from "@/db";
import getProjectsStore from "@/stores/project-store";
import AppLayout from "@/layouts/app-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import PageHeader from "@/components/page-header";
import ProjectEditor from "@/components/project-editor";
import ProjectDelete from "@/components/project-delete";
import getMessageStore from "@/stores/message-store";
import MessageList from "@/components/message-list";

const { projectId } = Astro.params;
if (!projectId) return Astro.redirect("/projects");

const db = createDb(Astro.locals.runtime.env);
const userId = Astro.locals.user?.id;
if (!userId) return Astro.redirect("/welcome");

const projectsStore = getProjectsStore(db, userId);
const messagesStore = getMessageStore(db, userId, { projectId });

const project = await projectsStore.getOne(projectId);
const messages = await messagesStore.getAll();
---

<RootLayout>
  <AppLayout>
    <PageHeader
      breadcrumbs={[
        {
          text: "Projects",
          href: "/",
        },
        {
          text: project.name,
          href: `/projects/${project.id}`,
        },
      ]}
    >
      <ProjectDelete />
      <ProjectEditor client:load project={project} />
    </PageHeader>
    <MarkdownLayout>
      <h1>{project.name}</h1>
      <p>{project.description}</p>
    </MarkdownLayout>
    <MessageList messages={messages} />
  </AppLayout>
</RootLayout>
